DB_NAME=uptime-monitor
DB_USERNAME=uptime_monitor
DB_PASSWORD=change_me
DB_PORT=5432
DB_URL=postgres://uptime_monitor:change_me@localhost:5433/uptime-monitor?sslmode=disable

PORT=8000
PROBER_COUNT=5
